* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}
@media and (min-width: 1025px) {
    html {
        font-size: 16px;
    }
}

.filters ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 50px;
    margin: 0;
    max-width: 90%#;
}
.filters a {

    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0;
    
}

